::-webkit-scrollbar {
    display: none;
}

html,
body {
    overflow-x: hidden;
}

ul {
    list-style: none;
}


.toolbar {
    position: absolute;
    z-index: 10;
}

.toolbar li {
    float: left;
    margin: 10px;
}

.showData{
	position: absolute;
	top: 0;
	left: 700px;
	width: 500px;
	height: 500px;
	overflow-y: auto;
	border:  1px solid #ccc;
	padding: 20px;
}

.tip{
	width: 150px;
	height: 100px;
	background: #eee;
	border:  1px solid #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-75px, -50px);
	display: none
}